<div
  class="cart"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="1% grid"
>
  <div fxFlex="25%" fxLayoutAlign="center center">Delivery Info</div>
  <div
    fxFlex="25%"
    fxlayout="row"
    fxLayoutAlign="center center"
    class="bottles"
    fxLayoutGap="5px"
  >
    <div>36</div>
    <div>Bottles</div>
  </div>
  <div fxLayout="column" fxFlex="50%" class="cart">
    <div fxLayout="row">
      <div fxLayoutAlign="center center" *ngIf="cartItems.length === 0">
        Your Cart is Empty.
      </div>

      <mat-list *ngIf="cartItems.length > 0">
        <mat-list-item *ngFor="let item of cartItems">
          <app-cart-item [cartItem]="item"></app-cart-item>
        </mat-list-item>
      </mat-list>
    </div>
    <div fxLayout="row" fxLayoutGap="16%" fxLayoutAlign="start center">
      <div class="bottles">{{ cartTotal | currency }}</div>
      <div><button mat-raised-button color="primary">Checkout</button></div>
    </div>
  </div>
</div>
